* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.headerlog {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold
}

.Header {
    background-color: #1F2937;
}

body {
    font-family: roboto;
    justify-content: space-around;
}

.Hero {
    background-color: #1F2937;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.headertop{
    font-size: 18px;
    color:#E5E7EB; 
    gap: 2rem;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: space-around;
} 

ul {
    display: flex;
    gap: 2rem;
    color: #E5E7EB; 
    justify-content: right;
    margin-top: 0;
    text-decoration: none;
}

.headerbody {
    padding-top: 100px;
    margin-right: 200px;
    margin-left: 100px;
}

.titlesub {
    font-family: roboto;
    color: azure;
    font-size: 20px;
}

.sign {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 10%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3882F6;
}

.picture {
    margin-left: 500px;
}

img {
    max-height: 200px;
}

a {
    text-decoration: none;
    color: white;
}
/* Here Part one is done then, let us start with part 2 */
.boxes {
    color: #1F2937;
    font-size: 18px;
    font-family: roboto;
    display: flex;
    margin-left: 300px;
    margin-bottom: 100px;
    flex-wrap: 1;
}

.square {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    background-color: white;
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-left: 500px;
}
/*This is the end of the second part, let us start the third one*/
.class3 {
    font-size: 36px;
    margin-bottom: 100px;
    font-weight: extra-bold;
    color: #1F2937;
    font-family: roboto;
    background-color: #E5E7EB;
}

.quote {
    margin-left: 300px;
}

.author {
    text-align: right;
    margin-right: 200px;
    font-weight: bold;
}

/*I am done with part3 as usual I think here, I can start with part4*/

.section4 {
    background-color:  #3882F6;
    margin-right: 100px;
    font-family: roboto;
    border-radius: 10px;
    margin-left: 200px;
    padding-top: 70px;
    height: 100px;
    margin-bottom: 100px;
}

.action {
    color: white;
    margin-left: 100px;  
}

.product {
    margin-left: 100px;
    color: white;
    font-size: 20px;
    font-weight: normal; 
}

.lastsignup {
    margin-left: 100px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #3882F6;
    padding: 10px 30px;
}

/*This is the last part of the proeject, and I am happy that I am going to finish it */

.footer {
    font-family: roboto;
    background-color:  #1F2937;
    height: 100px;
}

.endfooter {
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 60px;
}
